In [25]:
import pandas as pd
import numpy as np
import pymysql as pm
import sqlalchemy as sac
from datetime import datetime, date, timedelta

In [158]:
def dbParameter():
    username = 'root'
    password = 'root'
    host = 'localhost'
    port = '3306'
    database = 'ggl'
    engine = sac.create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')
    return engine

def insertDataToMySql(df,mySqlEngine):
    """
    purpose:insert df into mySql
    df: pd.Dataframe
    
    """
    try:
        df.to_sql('customer_report_time',con=mySqlEngine,if_exists='replace',index=False)
    except Exception as e:
        print(e)

# Q1_1

In [ ]:
raw_data = pd.read_csv('/Users/brianhung/Documents/Reseme/gogolook/d1_user_report_time.csv')
mySqlEngine = dbParameter()
insertDataToMySql(raw_data,mySqlEngine)

# Q1-2

In [152]:
"""
一次取一天時間的資料，計算每天回報的使用者數量
1. 找資料最早的時間
2. 找資料找最晚的時間
3. 計算每天回報的使用者數量
"""
# 找資料最早的時間
sql_ear_datetime = 'SELECT ts FROM customer_report_time AS crt ORDER BY crt.ts ASC limit 1'
ear_datetime = pd.read_sql_query(sql = sql_ear_datetime, con = mySqlEngine)
ear_datetime = datetime.strptime(ear_datetime.loc[0,'ts'], '%Y-%m-%d %H:%M:%S.%f')
ear_date = date(ear_datetime.year,ear_datetime.month,ear_datetime.day)

# 找資料找最晚的時間
sql_late_datetime = 'SELECT ts FROM customer_report_time AS crt ORDER BY crt.ts DESC limit 1'
late_datetime = pd.read_sql_query(sql = sql_late_datetime, con = mySqlEngine)
late_datetime = datetime.strptime(late_datetime.loc[0,'ts'], '%Y-%m-%d %H:%M:%S.%f')
late_date = date(late_datetime.year,late_datetime.month,late_datetime.day)

print("star_date = ", ear_date,";end_date = ",late_date)
result = pd.DataFrame(columns=['DATE','USER_NUMS'])
st_date = ""
mySqlEngine = dbParameter()
# k = 0
while True:
    if st_date == "":
        st_date = ear_date
    else:
        st_date = next_date
    next_date = st_date + timedelta(1)
    sql = "SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '"\
          + st_date.strftime("%Y-%m-%d")\
          + "' AND '"\
          + next_date.strftime("%Y-%m-%d")\
          + "'"
    print("sql = ",sql)
    df = pd.read_sql(sql=sql, con=mySqlEngine)
    
    nums = df.groupby('id').count()
    result = result.append({'DATE':st_date, 'USER_NUMS':len(nums)},ignore_index=True)
#     k += 1
    if next_date > late_date:
        break

# 結果寫至檔案
result.to_csv('/Users/brianhung/Documents/Reseme/gogolook/Q1_2.csv',index=False)

sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-01' AND '2020-01-02'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-02' AND '2020-01-03'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-03' AND '2020-01-04'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-04' AND '2020-01-05'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-05' AND '2020-01-06'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-06' AND '2020-01-07'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-07' AND '2020-01-08'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-08' AND '2020-01-09'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-09' AND '2020-01-10'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-10' AND '2020-01-11'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-11' AND '2020-01-12'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-12' AND '2020-01-13'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-13' AND '2020-01-14'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-14' AND '2020-01-15'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-15' AND '2020-01-16'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-16' AND '2020-01-17'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-17' AND '2020-01-18'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-18' AND '2020-01-19'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-19' AND '2020-01-20'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-20' AND '2020-01-21'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-21' AND '2020-01-22'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-22' AND '2020-01-23'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-23' AND '2020-01-24'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-24' AND '2020-01-25'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-25' AND '2020-01-26'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-26' AND '2020-01-27'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-27' AND '2020-01-28'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-28' AND '2020-01-29'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-29' AND '2020-01-30'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-30' AND '2020-01-31'
sql =  SELECT id,ts FROM customer_report_time AS crt WHERE crt.ts BETWEEN '2020-01-31' AND '2020-02-01'